@model MVC_Schedule_Review.Models.About
@{
    ViewBag.Title = "About Sooner football.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>OU Football is coached by <b>@(Model.HeadCoach).</b> They have a record of @(Model.BowlRecord)</p>
