@{
    ViewBag.Title = "OU Football";
}

<div class="jumbotron">
    <h1>OU Football</h1>
    <p class="lead">The Oklahoma Sooners...</p>
    <p><a target ="_blank" href="https://www.ou.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

